Source: ccnq3-opensips-latest
Maintainer: Stephane Alnet (Packaging) <stephane@shimaore.net>

Package: ccnq3-opensips-latest
Provides: ccnq3-opensips
Replaces: ccnq3-opensips
Conflicts: ccnq3-opensips-ga
Architecture: all
Depends: ccnq3,
  opensips (= ${opensips:Version}),
  opensips-dbhttp-module (= ${opensips:Version}),
  opensips-json-module (= ${opensips:Version}),
  opensips-b2bua-module (= ${opensips:Version}),
  opensips-redis-module (= ${opensips:Version}),
  netcat,
  mediaproxy-dispatcher (= ${mediaproxy:Version}),
  libjson0 (=0.10-1.2)
Recommends: ccnq3-munin-opensips-latest
Description: OpenSIPS dependencies for CCNQ3, development branch

Package: ccnq3-munin-opensips-latest
Provides: ccnq3-munin-opensips
Replaces: ccnq3-munin-opensips
Architecture: all
Depends: munin-node, ccnq3-opensips-latest (= ${binary:Version}),
  bash
Description: munin modules for ccnq3-opensips
  Provides the opensips_dialogs munin plugin.
